p,body,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
*{
    box-sizing: border-box;
}

a{
    text-decoration: noen;

    }

img,input,button{
    border: 0,none;
    padding: 0;
    vertical-align: middle;
    outline-style: none;
}

.clearfix::after {
    content: '';
    display: block;
    visibility: hidden;
    clear:both

}
.clearfix{
    *zoom: 1;
}

.one-txt {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

